*~
abi_dumps/
aclocal.m4
.anjuta/
.anjuta_sym_db.db
autom4te.cache
autoscan-2.69.log
autoscan.log
callgrind.out.*
clang
compat_reports/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.scan
core
*-dbg.db
debug
depcomp
doc/client.dox
doc/client-dox.stamp
doc/client.dox.warnings
doc/html
gsl.h2m
hardy-buildp.patch
install-sh
.kdev4
*.la
libtool
*.lo
logs/
ltmain.sh
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
Makefile
Makefile.in
missing
netmaumau
netmaumau.anjuta
netmaumau.h2m
netmaumau.kdev4
netmaumau.pc
netmaumau-*.tar.xz
*.o
release
src/client/.deps/
src/client/.libs
src/client/Makefile
src/client/Makefile.in
src/client/.svn
src/common/ai-icon.h
src/common/.deps/
src/common/.libs
src/common/Makefile
src/common/Makefile.in
src/common/.svn
src/engine/.deps/
src/engine/.libs
src/engine/Makefile
src/engine/Makefile.in
src/engine/.svn
src/images/Makefile.in
src/.kdev_include_paths
src/lua/.deps/
src/lua/.libs/
src/Makefile
src/Makefile.in
src/server/ai-icon.h
src/server/.deps/
src/server/.libs
src/server/Makefile
src/server/Makefile.in
src/server/netmaumau.rc
src/server/nmm-server
src/server/nmm-server.1
src/server/.svn
src/sqlite/.deps/
src/sqlite/.libs/
src/.svn
src/test/.deps/
src/test/.libs/
src/test/Makefile
src/test/Makefile.in
src/test/nmm-client
src/test/stresstest.sh
src/test/.svn
src/test/test_client
src/test/testimg.h
src/test/test_netmaumau
src/test/test_netmaumau.log
src/test/test_netmaumau.trs
src/test/test-suite.log
stamp-h1
start-server.sh
.svn
test-driver
V*.xml
win32
src/aidt/.deps/
src/aidt/.libs/
