*~
*.o
*.lo
*.la
.kdev4
.svn
core
Makefile.in
aclocal.m4
autom4te.cache
autoscan.log
callgrind.out.*
config.guess
config.h.in
config.sub
configure
configure.scan
debug
depcomp
install-sh
ltmain.sh
missing
netmaumau.kdev4
release
src/.kdev_include_paths
src/.svn
src/Makefile.in
src/client/.svn
src/client/Makefile.in
src/common/.svn
src/common/Makefile.in
src/engine/.svn
src/engine/Makefile.in
src/server/.svn
src/server/Makefile.in
src/test/.svn
src/test/Makefile.in
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
Makefile
config.h
config.log
config.status
libtool
src/Makefile
src/client/.deps/
src/client/Makefile
src/common/.deps/
src/common/Makefile
src/engine/.deps/
src/engine/Makefile
src/server/.deps/
src/server/Makefile
src/test/.deps/
src/test/Makefile
stamp-h1
src/client/.libs
src/common/.libs
src/engine/.libs
src/server/.libs
src/server/nmm-server
src/server/ai-icon.h
src/test/test_client
src/test/test_netmaumau
doc/client-dox.stamp
doc/client.dox
doc/client.dox.warnings
doc/html
win32
